@model IQueryable<SupplierViewModel>

<div id="-table-wrapper">
    <div class="table-responsive overflow-auto">
        <table id="-table" class="table table-hover align-middle mb-0">
            <thead class="table-light">
        <tr>
            <th>Supplier Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>@supplier.SupplierName</td>
                <td>@supplier.Email</td>
                <td>@supplier.Phone</td>
                <td>@supplier.Address</td>
            </tr>
        }
    </tbody>
</table>
