@using BDMPro.Resources
@{
    ViewBag.Title = Resource.Error;
}

<div class="container d-flex justify-content-center align-items-center py-5">
    <div class="main py-3">
        <div class="ops_text">
            <strong>:(</strong>
            <div class="ops_title">
                <strong class="fs-40">@Resource.Oops</strong>
                <span class="fs-28">@Resource.FailedExceptionError</span>
            </div>
        </div>
        <div class="ops_message">
            <span class="fs-17">
                Please send a screenshot of this page to hieudat2310.bh@gmail.com
            </span>
        </div>
    </div>
</div>